NODE_ENV=development
CLIENT_URL=http://localhost:3000

COOKIE_DOMAIN=localhost

JWT_SECRET=supersecretkey
JWT_ACCESS_TOKEN_TTL=2h
JWT_REFRESH_TOKEN_TTL=7d

POSTGRES_URI="postgresql://<login>:<password>@<host>:<port>>/<database>"